#jomb{
    background-color: #ffea5f3f;
}
#glow {
    font-size: 80px;
    color: #ffeb55;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #79ff28, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}



#about_us{
    background:grey;

}
p{
    font-family: AnjaliOldLipi;
}
#serv_id{
    text-align: center;
}
#serv-card1{
    padding-left: 100px;
}
#serv-card{
    padding-left: 10px;
}
#our_serv{
    text-align: center;
    color: black;
    background-color: #7f805d;
}
.our_serv{
    /*text-align: center;*/
    padding-left: 20px;

}
.o_h2{
    text-align: center;
    color: #802875;
}
.foot5{
    padding-top: 500px;
    background-color: red;
}